/*!

=========================================================
* Niko Graphic Design v.0.1
=========================================================
*/
@import "core/variables";
@import "core/mixins";

// Core Components
@import "core/misc";
@import "core/page-transition";

// Core Plugins

// @import "plugins/plugin-datetime-picker";
@import "plugins/plugin-nouislider";
@import "plugins/plugin-react-datetime";
@import "plugins/plugin-react-slick";




// -----------Custom

.our-works-page__desc {
    color: #777;
    margin: 1.071rem auto 0;
    max-width: 800px;
    text-align: center !important;
}

[class*="description"] {
    color: #777!important;
}


// ---------------- images:

.work-image {
  overflow: hidden;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.transition {
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }

  .hover-zoom-in:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .hover-zoom-out {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .hover-zoom-out:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }



  //------------------